// div{
//     background-image: url(/assets/img/q.webp);
//     background-attachment: fixed;
//     background-size: 100% 100%;
//     background-repeat: no-repeat;
// }
div{
    background-image: url(/assets/img/one-main-financial-logo.png);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}