
<div>
    <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h1>What is pension Plan?</h1>
   <p>A pension or retirement plan is a type of investment plan that helps you accumulate a part of your savings over a long-term period to have a secured financial future. It helps you to deal with uncertainties post-retirement and ensures a steady flow of income after retirement. Even if a person has a good amount of savings, a pension plan is nevertheless crucial.

    A pension plan helps you to create a financial cushion in the long term so that you can ensure to have a financially sound future after retirement. In a retirement plan, the insured must contribute a specific amount regularly until the time of retirement. The accumulated amount is given back to the insured as a pension or annuity at regular intervals of time.
     The pension plans not only secure the individual's financial future after retirement but also help an individual deal with the eventualities post-retirement.
    
    Savings get exhausted very fast and are sometimes used in emergencies. Thus, it is very important to choose the best pension scheme so that you secure your cash flow for meeting basic daily needs post-retirement. When you continuously invest in a pension plan, the amount multiplies due to the benefit of the power of compounding, which makes a lot of difference to your final savings corpus.</p>
   <br>
   <br>
   <h1>Why Pension Plan</h1>
   <h3>Pension Plans provide you with financial safety so that when your professional income starts to recede, you can still live with pride without bargaining on your living standards. Pension plans act as a tool to invest regularly during your work life span and returns you your investment in lump sum at your retirement along with annuity income which is provided in regular intervals.Pension Plans provide you with financial safety so that when your professional income starts to recede, you can still live with pride without bargaining on your living standards. Pension plans act as a tool to invest regularly during your work life span and returns you your investment in lump sum at your retirement along with annuity income which is provided in regular intervals.</h3>
   <br>
   <br>
   <form>
    Enter Name:<input type="text"  name="username" [(ngModel)]="username"> <br>
    Enter Password<input type="text"  name="password"  [(ngModel)]="password"><br>
   <button (click)="login()">Login</button>
   </form>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
</div>

